@keyframes fadeup {
    from {opacity:0;top:10em;}
    to {opacity:1;top:0em;}
}

@keyframes fadedown {
    from {opacity:1;top:0em;}
    to {opacity:0;top:10em;}
}

@keyframes fadeleft {
    from {opacity:0;left:-20em;}
    to {opacity:1;left:0em;}
}

@keyframes fadein{
    from {opacity:0;}
    to {opacity:1;}
}