
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@import url("Animations.css");

body {
	background-image: url("../img/Background3.jpg");
	background-repeat:repeat-x;
	background-color:black;
}

#logo {
	width:8%;
	padding:0px;
	margin:auto;
	display:block;
	background-color:rgba(0,0,0,0.2);
	border-radius:50%;
	padding:10px;
	border:dashed;border-color:white;border-width:1px;
	box-shadow:0px 0px 40px 20px rgba(0,0,0,0.7);
    
	transition: width 1s,transform 2s;
	transition-timing-function: ease-out;
	animation-name:fadein;
	animation-duration:3s;
}

#logo:hover{

	width: 10%;
	transform: rotate(360deg);
}
    
@font-face {
	font-family: "Customheader";
	src: url(../font/BlendaScript.otf) format("truetype");
}



h1 {
	font-weight:lighter;
	font-size:50px;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
}

h2 {
	font-family:Arial;
	font-size: 20px;
	display:block;
	background-color:rgba(60, 60, 60, 00);
	padding:10px;
}



.heading{
	font-family:Customheader;
	display:block;
	margin:auto;
	position:relative;
	text-align:center;
/* 	background-color: rgba(0, 0, 0, 0.3); */
    
	animation-name:fadeleft;
	animation-duration:1s;
	animation-timing-function: ease-out;
}

.content {
	display:block;
	margin:auto;
	width:50%;
	border-radius:25px;
	text-align:center;
	color:white;
	padding:20px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius:40px;
	position:relative;
	font-family:arial;
	animation-name:fadeup;
	animation-duration:1s;
	animation-timing-function: ease-out;
}

.bar {
	float:left;
	display:inline-block;
	margin:0px;
	padding:0px;
}

#left{

}
#left.bar{
	width:30%;
    
}
#middle.bar{
	width:65%;
}

.listTitle {
	width:60%;
}


.lists{
	width:80%;
	margin:auto;
	background-color:white;
	text-align:center;
	background-color:rgba(60, 60, 60, 0.8);
}



#signin {
	display:none;
}
#signup {
	display:none;
}


label {
	font-family:arial;
	display:block;
}

.button {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
	color:white;
	font-size: 20px;
	text-align: center;
	margin:auto;
	width:10%;
	display:inline-block;
	position:relative;
	left:39%;
	border-radius:10px;
	cursor:pointer;
    
    
	animation-name:fadeup;
	animation-duration:1s;
	animation-timing-function: ease-out;
    
	transition: background-color 0.5s
}

.button:hover {
	background-color:rgba(50, 50, 50, 0.8);
}

a {
	text-decoration:none;
	color:white;
	display:block;
	margin:0px;
}
a:visited {
	text-decoration:none;
}

ul.menubar{
	border-width:1px;
	border-color:white;
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(60, 60, 60, 0.6);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:0px;
	animation-name:fadeleft;
	animation-duration:1s;
	animation-timing-function: ease-out;
}

.menubox {
	width:40%;
	margin-left:auto;
	margin-right:auto;
/* 	border:solid;border-color:white; */
}
li.menubar {
	font-family: Arial;
	font-size: 20px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom:5px;
	width:32.7%;
	text-align:center;
	margin:0;
	transition: background-color 0.5s;
	float:left;

}

li.menubar:hover {
/* 	background-color: rgba(20, 20, 20, 0.8); */
	background-color: rgba(0,191,255, 0.7);
}





/* Ainslans CSS

*
*
*

*/

.formError {
	color:red;
	font-weight: bolder;
}


.listStatus {
	width:30%;
	background-color: green;
}
.complete {
	background-color: rgba(100,200,100, 0.65);
}
.incomplete {
	background-color: rgba(200,100,100, 0.65);
}

#listOfLists table {
	width:100%;
}
#listOfLists table div{
	width:100%;
}

#listOfLists table td {
	height:1px;
}

h2:hover,.remove:hover {
	background-color: rgba(0,191,255, 0.7);
}

#middle.bar {
	height: 85vh;
	padding-top: 20px;
	overflow-y: scroll;
}
#middle::-webkit-scrollbar { 
    display: none; 
}
.itemBlock {
	display: block;
	width:80%;
	background-color: rgba(190,191,255, 0.7);
	margin:auto;
	margin-top:10px;
	padding:5px;
	box-sizing: border-box;
}
.itemBlock h2 {
	text-align: center;

}
.itemBlock textarea {
	margin: auto;
	margin-top: 5px;
	width:80%;
	display:inline-block;
}
.itemBlock input[type="text"] {
	margin: auto;
	display:inline-block;
	width:80%;
}
.itemBlock label {
	text-align: center;
	display:inline-block;
	width: 30%;
}

.inputHolder {
	width:70%;
	display: inline-block;
	text-align: center;
}

#listItemForm {
	display:none;
}

#addListItem {
	margin-bottom: 5px;
}

.active {
	background-color: hotpink;
	font-weight:bold;
}
.itemBlock {
	display:none;
}
.eachItem {
	min-height:80px;
}

.itemInfo {
	width:30%;
	min-height: 80px;
	display:inline-block;
	box-sizing: border-box;
	padding: 10px;
}

.itemBody {
	width:70%;
	display:inline-block;
	color: white;
	font-weight: bold;
	vertical-align: top;
	background-color: rgba(190,191,255, 0.65);
	box-sizing: border-box;
	padding: 10px;
	font-size: 1em;
	font-family:sans-serif;
}
.itemInfo h3 {
	color: white;
	font-weight: bold;
	font-size:1em;
	text-align: center;
	font-family:sans-serif;
	width: 100%;
	word-wrap:break-word;
}

.incompleteItemButton,.completeItemButton,.deleteItemButton {
	padding: 3px;
    background-color: rgba(200,200,100, 0.65);
    text-align:center;
    display: inline-block;
}

.deleteItemButton {
	margin-left: 10px;
}
.deleteItemButton:hover {
    background-color: rgba(200,100,100, 0.65);		
}

.incompleteItemButton:hover {
    background-color: rgba(100,200,100, 0.65);	
}
.notCompletedItem {
		background-color: rgba(200,100,100, 0.65);
}

.completedItem {
		background-color: rgba(100,200,100, 0.65);
}